
<%= form_tag '', :method => :get do %>
  <%= label_tag :name, "Search by user's name" %>
  <%= text_field_tag :name %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :room_number, "Search by room number" %>
  <%= text_field_tag :room_number %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :start, "Search by start date" %>
  <%= date_field_tag :start %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :start_time, "Search by start time" %>
  <%= time_field_tag :start_time %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :end, "Search by end date" %>
  <%= date_field_tag :end %>
  <%= submit_tag 'Filter' %>
<% end %><br>
<%= form_tag '', :method => :get do %>
  <%= label_tag :end_time, "Search by end time" %>
  <%= time_field_tag :end_time %>
  <%= submit_tag 'Filter' %>
<% end %><br>
  <%#= label_tag :start, "Search by start date" %>
  <%#= date_field_tag :start %>
  <%#= label_tag :start_time, "Search by start time" %>
  <%#= time_field_tag :start_time %>
  <%#= label_tag :end, "Search by end date" %>
  <%#= date_field_tag :end %>
  <%#= label_tag :end_time, "Search by end time" %>
  <%#= time_field_tag :end_time %>
  <%#= submit_tag 'Filter' %>
<%# end %>
<%= link_to "Clear Filters", root_path %>
<table>
  <tr class="custom">
    <th>User</th>
    <th>Room</th>
    <th>Start Day</th>
    <th>Start Time</th>
    <th>End Day</th>
    <th>End Time</th>
  </tr>
<% @bookings.each do |b| %>
  <tr class="custom">
    <td><%= b.user.name %></td>
    <td><%= b.room.room_number %></td>
    <td><%= b.start_time.to_date %></td>
    <td><%= b.start_time.strftime("%I:%M%p") %></td>
    <td><%= b.end_time.to_date %></td>
    <td><%= b.end_time.strftime("%I:%M%p") %></td>
  </tr>
<% end %>
</table>
