<button id="user">Add a User</button>
<button id="room">Add a Room</button>
<button id="booking">Add a Booking</button>

<div class="hidden" id="userAdd">
  <h1>Add A User</h1>
  <%= form_for(@user) do |u| %>
    <div class="field">
      <h4><%= u.label "Please enter a user name" %><br>
      <%= u.text_field :name %></h4>
    </div>
    <div class="actions">
      <%= u.submit 'Add', :class => 'btn btn-success', :id => "stgbutton" %>
    </div>
  <% end %>
</div>


<div class="hidden" id="roomAdd">
  <h1>Add A Room</h1>
  <%= form_for(@room) do |r| %>
    <div class="field">
      <h4><%= r.label "Please enter a room number" %><br>
      <%= r.text_field :room_number %></h4>
    </div>
    <div class="actions">
      <%= r.submit 'Add', :class => 'btn btn-success', :id => "stgbutton" %>
    </div>
  <% end %>
</div>

<div class="hidden" id="bookingAdd">
  <h1>Add A Booking</h1>
  <%= form_for(@booking) do |f| %>

    <div class="field">
      <h4><%= f.label "Please select a user" %><br>
      <%= collection_select(:booking, :user_id, @users, :id, :name, :prompt => true) %>
      </h4>
    </div>

    <div class="field">
      <h4><%= f.label "Please select a room number" %><br>
      <%= collection_select(:booking, :room_id, @rooms, :id, :room_number, :prompt => true) %>
    </div>

    <div class="field formdate">
      <h4><%= f.label "Select a start time" %><br>
      <%= f.datetime_select :start_time %></h4>
    </div>

    <div class="field formdate">
      <h4><%= f.label "Select an end time" %><br>
      <%= f.datetime_select :end_time %></h4>
    </div>

    <div class="actions">
      <%= f.submit 'Add', :class => 'btn btn-success', :id => "stgbutton" %>
    </div>

  <% end %>
</div>

<h1>Bookings</h1>
<%= render 'bookings/index' %>
